//
   Created by wrk224 on 7/7/16.
.container
    header
        span.header__left
            a.header__home(href='/')
                img.header__logo(src="img/logo.png")
        span.header__right
            button.header__logout.btn.btn-danger(ng-click='logOut()')
                i.fa.fa-sign-out.fa-lg
    .appt
        .appt__preview
            .appt__user
                .round.user__pic.user__pic--center
                    img(src='img/default.jpg')
                .user__name.user__name--big Jaiden Gerig
            .appt__category Checking
        .appt__body
            p.appt__detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis quam quis turpis viverra luctus a ut odio. Integer quis felis vitae nulla laoreet vulputate et sit amet dolor. Praesent venenatis lectus id interdum maximus. Nulla facilisi. Nam nec nunc nisl. Vestibulum sed mi sit amet massa finibus congue. Pellentesque in risus libero. Nullam in magna arcu. Quisque at quam nisi. Pellentesque nec tristique ipsum. Integer vitae magna nisi. Maecenas efficitur vel libero quis maximus.
            h3 Notes
            textarea.form-control.appt__notes(rows="5")
            .text-center
                button.appt__resolve.btn.btn-success Resolved