//
   Created by wrk224 on 7/7/16.
.container
    header
        span.header__left
            a.header__home(href='/')
                .round.round--small
                    img.user__pic(ng-src='{{user.profilePicture}}')
            span.header__name {{user.name}}
        span.header__right
            button.header__logout.btn.btn-danger(ng-click='logOut()')
                i.fa.fa-sign-out.fa-lg
    .appt
        .appt__preview
            .appt__user
                .round.user__pic.user__pic--center
                    img(ng-src='{{customer.profilePicture}}')
                .user__name.user__name--big {{customer.name}}
            .appt__category General
        .appt__body
            p.appt__detail {{issue.info}}
            h3 Notes
            textarea.form-control.appt__notes(rows="5",ng-model='issue.notes')
            .text-center
                button.appt__resolve.btn.btn-success(ng-click='resolve()') Resolved