.container
    header
        span.header__left
            a.header__home(href='/')
                .round.round--small
                    img.user__pic(ng-src='{{user.profilePicture}}')
             span.header__name {{user.name}}
        span.header__right
            button.header__logout.btn.btn-danger(ng-click='logOut()')
                i.fa.fa-sign-out.fa-lg
    .queue
        h1.queue__title Customers Waiting
        h3.queue__category General Issues
        <hr/>
        .queue__item(ng-repeat="ticket in reals")
            .issue__preview
                span.issue__user
                    .round
                        img.user__pic(ng-src='{{ticket.customer.profilePicture}}')
                    span.user__name {{ticket.customer.name}}
                span.issue__date 07/7/16
            .issue__body
                p.issue_detail {{ticket.info}}
                .text-center
                    button.issue__help.btn.btn-success(ng-click='openIssue(ticket)') Assist