.container
    .signup
        h1.signup__header Ambassador Registration
        form.signup__form
            .photo
                video.photo__feed#video(ng-show='user.profilepic === ""', autoplay)
                img.photo__preview(ng-hide='user.profilepic === ""',ng-src="{{user.profilepic}}")
            button.photo__button.btn.btn-primary(ng-show='user.profilepic === ""', ng-click="takepic()") Snap Photo
            button.photo__button.btn.btn-danger(ng-hide='user.profilepic === ""', ng-click='user.profilepic = ""') Retake Photo
            input.signup__field(placeholder='Name')
            input.signup__field(placeholder='Email')
            input.signup__field(placeholder='Password')
            button.signup__submit.btn.btn-success Sign Up
