.container
    .signup
        h1.signup__header Ambassador Registration
        form.signup__form(name="signupForm")
            .photo
                video.photo__feed#video(ng-show='user.profilePicture === ""', autoplay)
                img.photo__preview(ng-hide='user.profilePicture === ""',ng-src="{{user.profilePicture}}")
            button.photo__button.btn.btn-primary(ng-show='user.profilePicture === ""', ng-click="takepic()") Snap Photo
            button.photo__button.btn.btn-danger(ng-hide='user.profilePicture === ""', ng-click='user.profilePicture = ""') Retake Photo
            input.signup__field(ng-model='user.name' placeholder='Name')
            input.signup__field(ng-model='user.email' placeholder='Email')
            input.signup__field(ng-model='user.password' placeholder='Password')
            button.signup__submit.btn.btn-success(ng-click='submitForm()') Sign Up
