.queue {
  width:90%;
  max-width: 600px;
  margin:0 auto;
  &__title{
    text-align: center;
  }
  &__item {
    border: 2px solid $light-grey;
    margin: 15px;
    padding: 5px;
    border-radius: 3px;
  }
}

.issue{
  &__help{
    width:200px;
    text-align: center;
  }
  &__user{
  }
  &__date{
    float:right;
    font-size: 20px;
  }
}
.user{
  &__name{
    font-size: 32px;
    &--big{
      font-size: 50px;
    }
  }
  &__pic{
    &--center{
      width: 200px !important;
      height: 200px !important;
    }
  }
}
.round {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  display:inline-block;
  &--small{
    width: 60px;
    height: 60px;
    margin-top: 5px;
  }
}
.round img {
  display: block;
  height:100%;
  min-width: 100%;
  min-height: 100%;
}