doctype
html(ng-app="redBeanApp")
    head
        meta(charset='utf8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        base(href='/')
        title Cafe Connect
        link(rel='stylesheet', href='static/bootstrap/dist/css/bootstrap.min.css')

        link(rel='stylesheet', href='dist/css/global.css')


        script(src='static/angular/angular.js')
        script(src='static/angular-route/angular-route.js')
        script(src='static/angular-resource/angular-resource.js')


        script(src="dist/app.module.js")
        script(src="dist/app.config.js")
        script(src="https://use.fontawesome.com/57914866af.js")

        each comp in ['login','signup','issues','issue']
            script(src="dist/"+comp+"/"+comp+".module.js")
            script(src="dist/"+comp+"/"+comp+".component.js")
    body
block body